@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.jarbis {
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  display: flex;
  flex-direction: column;
  align-items: center;

  .logo {
    color: inherit;
  }

  .name {
    font-weight: bold;
    font-size: 18px;
  }

  .powers {
    color: ms-color-neutralSecondary;
    font-size: 14px;
  }
}